

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  margin: 0;
}

.main {
  position: relative;
  min-height: 90vh;
  /* padding-top: 5vh; */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding-top: 1em;
  padding-bottom: 2.5em;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
}

nav * {
  margin-left: 1em;
}

NavLink {
  color: white;
}

/* Starter styles */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; original */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Header */

.header {
  z-index: 9999;
  position: sticky;
  top: 0;
  background-color: #282c34 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 10vh;
}

.header h1 {
  padding: 0;
}

/* Bio */

.bio-section {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.bio-section h1 {
  padding-bottom: 1em;
}

.bio-section p {
  padding-bottom: 1em;
}

.bio {
  width: 50vw;
  text-align: start;
}

/* Page sections */

.home {
  display: flex;
}

.section {
  margin-top: 1em;
}

/* .section-header {
  display: flex;
  padding-left: 5em;
  padding-bottom: 2em;
} */

/* .section-header * {
  margin-right: 3em;
} */

/* Skills */

.skills {
  background-color: #B8DBD9;
}

/* .skills-header {
  justify-content: center;
} */

.skills-content {
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}

.skills-content > div {
  flex-shrink: 1;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.skills-content div h4 {
  margin-bottom: 1em;
}



/* Contact Page */

.contact-page {
  /* border: solid; */
  background-color: #2F4550;
  color: #F4F4F9;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 4em;
}

.contact-form-container {
  border: none;
  /* padding-right: 12em; */
}

.contact-form-container h1 {
  text-align: start;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Contact-form * {
  min-width: 30vw;
  margin-bottom: 1em;
  /* max-width: 50vw; */
}

.Contact-form label {
  text-align: start;
}

.Contact-form input[name="email"],
.Contact-form input[name="name"] {
  /* min-width: 30vw; */
  min-height: 2em;
}

textarea {
  min-height: 25vh;
}

.contact-details {
  width: fit-content;
  /* padding: 2em; */
  text-align: start;
}

.contact-details * {
  width: fit-content;
  /* padding: 0; */
  /* margin: 0; */
}

/* .contact-details h1 {
  padding-bottom: 1em;
} */

.contact-details p {
  padding-bottom: 1em;
}

/* Project Page */

.projects {
  background-color: #586F7C;
}

.projects * {
  color: white;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: flex;
  margin-bottom: 5vh;
}

.project-details {
  margin-left: 5vw;
}

.project-details h2 {
  text-align: start;
}

.project-links {
  display: flex;
}

.project-links * {
  padding-right: 1em;
  color: black;
}

img {
  max-width: 25vw;
  /* width: max(15em, 25vw); */
  /* width: 25vw; */
}

.pfp {
  display: block;
  margin:auto;
  aspect-ratio: 1;
  /* height: 35vh; */
  object-fit: cover;
  border-radius: 50%;
  max-width: none;
  width: max(15em, 25vw);
  /* height: min(10rem 30vw); */
  /* height:  */
}

/* CV */

.cv {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 960px){
  /* Contact Page */
  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Contact-form * {
    min-width: 90vw;
    margin-bottom: 1em;
    /* max-width: 50vw; */
  }
  textarea {
    min-height: 20vh;
  }

}

@media screen and (max-width: 650px) {
  .skills-content {
    flex-direction: column;
  }

  .skills-content > div {
    margin-bottom: 2em;
  }

  .skills-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0; */
  }

  .skills-cards > * {
    padding: 1em;
    flex-shrink: 1;
    min-width: 0;
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-cards > * > *{
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .home {
    flex-direction: column;
  }
  .pfp{
    order: 1;
    margin: 1em auto 1em auto;
  }
  .bio{
    width: 75vw;
    text-align: justify;
  }
  .bio-section{
    order: 2;
    align-items: center;
    padding-top: 0;
  }
}